* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --card-width: 200px;
   --card-height: 300px;
   --card-transition-duration: 800ms;
   --card-transition-easing: ease;
}

body {
  background-image: url('sfondobianco.png');
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
    background-size: cover;
     background-size:100% 100%;
     background-attachment: fixed;
}

.barra-menu {
  display: block;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:space-between;
  align-content: center;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 10;
  border: none;
  width: 98%;
}

.menu {
  display: block;
}

.logo {
align-self: flex-start;
}

.menu ul {
  list-style-type: none;
 margin-top: 15px;
}

.menu ul li {
  display: inline-block;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 9pt;
  padding: 5px;
}

.contenutimenuoroscopo {
  border-radius: 10px;
  margin-top: 5px;
}

.home {
  padding: 5px;
}

.segno {
  padding: 5px;
}

.linkoroscopo {
  padding: 5px;
}

.chisiamo {
  padding: 5px;
}

.menu ul li a, .linkoroscopo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.home:hover {
  background-color: #6633ff;
}

.linkoroscopo:hover {
    background-color: #cc99cc;
}

.segno:hover {
  background-color: #ff6633;
}

.chisiamo:hover {
  background-color: #ffcc66;
}

li a:hover, .linkoroscopo:hover {
  border-radius: 10px;
}

li.menuoroscopo {
  display: inline-block;
}

.contenutimenuoroscopo {
  display: none;
  position: absolute;
  background-color: #cc99cc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenutimenuoroscopo a {
  color: #6633ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.contenutimenuoroscopo a:hover {
  background-color: #f1f1f1;
color: #cc99cc;
font-weight: bold;
}

.menuoroscopo:hover .contenutimenuoroscopo {
  display: block;
}

.iconamenu {
  display: none;
}

.titolosegno {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-top: 80px;
}

.dati {
  color: white;
  padding-left: 40px;
}

h2 {
  font-size: 50pt;
  color: white;
}

.partedue {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15%;
}

.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  opacity: 0;
}

.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
  opacity: 0.8;
}

.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 10px;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}

.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
    border-radius: 20px;
}

.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 2;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name, .info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
 }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 400px) {


  body {
    background-image: url('sfondobiancoverticale.png');
  }

  div .menu {
    display: none;
  }

  .iconamenu {
    display: block;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    border-radius: 10px;
  }

  .bottonemenu {
    background: none;
    border: none;
    margin-top: 4px;
  }

  .barra-menu{
    justify-content: flex-start;
    margin-left: 15px;
    margin-right: 15px;
  }

  div .menu {
  position: absolute;
  margin: 50px 5px;
  padding: 15px 15px;
  background-color: #6633ff;
  border-radius: 10px;
  }

  .menu ul li {
    display: list-item;
    padding: 5px 10px;
  }

  .menu ul li a {
   font-size: 12pt;
  }

  .contenutimenuoroscopo {
    top: 85px;
    margin-left: 125px;
    border-radius: 10px;

  }

  .contenutimenuoroscopo li {
  border-radius: 10px;
  }

  .contenutimenuoroscopo .mese {
    font-size: 12pt;
    padding: 8px 10px 8px 10px;
  }

  .contenutimenuoroscopo .anno {
    font-size: 12pt;
    padding: 8px 10px 8px 10px;
  }



  .cardList__btn.btn--left {
    left: +22%;
  }
  .cardList__btn.btn--right {
    right: +22%;
  }

.titolosegno {
  padding: 30px 30px 0px 30px;
}

.dati {
  padding: 0px 0px 0px 20px;
}

  .icona img {
    width: 100px;
    height: 100px;
  }

.dati h2 {
  font-size: 26pt;
}

.dati h1 {
  font-size: 14pt;
}

.info.current--info {
  margin-left: 215px;
}

}
