body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    font-family: "Monsterrat", sans-serif;
    background-image: url("sfondo.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #FFFFFF;
}

/* NAV */
.barra-menu {
    display: block;
    display: flex;
    position: fixed;
    top: 0;
    justify-content:space-between;
    align-content: center;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    z-index: 10;
    border: none;
    width: 98%;
  }
  
  .menu {
    display: block;
  }
  
  .logo {
  align-self: flex-start;
  }
  
  .menu ul {
    list-style-type: none;
   margin-top: 15px;
  }
  
  .menu ul li {
    display: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 9pt;
    padding: 5px;
  }
  
  .contenutimenuoroscopo {
    border-radius: 10px;
    margin-top: 5px;
  }
  
  .home {
    padding: 5px;
  }
  
  .segnonav {
    padding: 5px;
  }
  
  .linkoroscopo {
    padding: 5px;
  }
  
  .chisiamo {
    padding: 5px;
  }
  
  .menu ul li a, .linkoroscopo {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .home:hover {
    background-color: #6633ff;
  }
  
  .linkoroscopo:hover {
      background-color: #cc99cc;
  }
  
  .segnonav:hover {
    background-color: #ff6633;
  }
  
  .chisiamo:hover {
    background-color: #ffcc66;
  }
  
  li a:hover, .linkoroscopo:hover {
    border-radius: 10px;
  }
  
  li.menuoroscopo {
    display: inline-block;
  }
  
  .contenutimenuoroscopo {
    display: none;
    position: absolute;
    background-color: #cc99cc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .contenutimenuoroscopo a {
    color: #6633ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .contenutimenuoroscopo a:hover {
    background-color: #f1f1f1;
  color: #cc99cc;
  font-weight: bold;
  }
  
  .menuoroscopo:hover .contenutimenuoroscopo {
    display: block;
  }
  
  .iconamenu {
    display: none;
  }

/* PROFILO */

.top {
    margin-top: 5%;
    margin-bottom: 0%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.immagine {
    width:25%;
    color:#FFFFFF;
}

.pf {
    width: 300px;
    height: 300px;
    align-items: center;
}

.nomesegno {
    color: #ffffff;
    font-size: 36pt;
    line-height: 20pt;
}

.testi {
    display: inline;
}

.t2 {
    display: flex;
}

.t1 {
    padding-left:20px;
    padding-right: 20px;
    font-size:15pt;
    line-height: 24pt;
}

.bio {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    margin-left: 28%;
    font-size: 14pt;
}

/* POST */

.contenitorepost {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.colore {
  height: 250px;
  width: 250px;
  background-color: rgb(248, 246, 243);
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.titolo1 {
  position: relative;
  top: 150px;
  left: 20px;
  padding: 10px 10px;
  text-align: left;
  font-weight: lighter;
  font-size: 14pt;
  color: #000;
  align-self: flex-end;
}

.pietra {
  height: 250px;
  width: 250px;
  background-color: #6633ff;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.titolo2 {
  position: relative;
  top: 150px;
  left: 20px;
  padding: 10px 10px;
  text-align: left;
  font-weight: lighter;
  font-size: 14pt;
  color:#FFFFFF;
  align-self: flex-end;
}

.corpo {
  height: 250px;
  width: 250px;
  background-color: #cc99cc;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.titolo3 {
  position: relative;
  top: 150px;
  left: 20px;
  padding: 10px 10px;
  text-align: left;
  font-weight: lighter;
  font-size: 14pt;
  color:#FFFFFF;
  align-self: flex-end;
}

.oroscopomeseanno {
  width: 100%;
  display: block;
  position: relative;
  align-items: center;
  margin-left: 21%;
  margin-top: 100px;
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

.rettangolo1 {
  text-align: center;
  width: 400px;
  height: 50px;
  background-color: #ff6633;
  border-radius: 20px;
  font-size: 12pt;
  color:#FFFFFF;
}

.testo1 {
  position: relative;
  top: 5px;
  left: 20px;
  padding: 10px 10px;
  text-align: left;
  font-size: 12pt;
  color:#FFFFFF;
}

/*MQ MOBILE */

@media only screen and (max-width: 400px) {

    body {
      background-image: url('sfondobiancoverticale.png');
    }
  
  div .menu {
    display: none;
  }
  
  .iconamenu {
    display: block;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    border-radius: 10px;
  }
  
  .bottonemenu {
    background: none;
    border: none;
    margin-top: 4px;
  }
  
  .barra-menu{
    justify-content: flex-start;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  div .menu {
  position: absolute;
  margin: 50px 5px;
  padding: 15px 15px;
  background-color: #6633ff;
  border-radius: 10px;
  }
  
  .menu ul li {
    display: list-item;
    padding: 5px 10px;
  }
  
  .menu ul li a {
   font-size: 12pt;
  }
  
  .contenutimenuoroscopo {
    top: 85px;
    margin-left: 125px;
    border-radius: 10px;
  
  }
  
  .contenutimenuoroscopo li {
  border-radius: 10px;
  }
  
  .contenutimenuoroscopo .mese {
    font-size: 12pt;
    padding: 8px 10px 8px 10px;
  }
  
  .contenutimenuoroscopo .anno {
    font-size: 12pt;
    padding: 8px 10px 8px 10px;
  }
}  