* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.barra-menu {
  display: block;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:space-between;
  align-content: center;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 10;
  border: none;
  width: 98%;
}

.menu {
  display: block;
}

.logo {
align-self: flex-start;
}

.menu ul {
  list-style-type: none;
 margin-top: 15px;
}

.menu ul li {
  display: inline-block;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 9pt;
  padding: 5px;
}

.contenutimenuoroscopo {
  border-radius: 10px;
  margin-top: 5px;
}

.home {
  padding: 5px;
}

.segno {
  padding: 5px;
}

.linkoroscopo {
  padding: 5px;
}

.chisiamo {
  padding: 5px;
}

.menu ul li a, .linkoroscopo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.home:hover {
  background-color: #6633ff;
}

.linkoroscopo:hover {
    background-color: #cc99cc;
}

.segno:hover {
  background-color: #ff6633;
}

.chisiamo:hover {
  background-color: #ffcc66;
}

li a:hover, .linkoroscopo:hover {
  border-radius: 10px;
}

li.menuoroscopo {
  display: inline-block;
}

.contenutimenuoroscopo {
  display: none;
  position: absolute;
  background-color: #cc99cc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenutimenuoroscopo a {
  color: #6633ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.contenutimenuoroscopo a:hover {
  background-color: #f1f1f1;
color: #cc99cc;
font-weight: bold;
}

.menuoroscopo:hover .contenutimenuoroscopo {
  display: block;
}

.iconamenu {
  display: none;
}

.titolo h1{
  color: white;
  text-align: center;
  margin-top: 160px;
  font-size: 50pt;
}

p {
  color: white;
  text-align: center;
  padding: 10px 0px 0px;
  font-weight: bold;
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 200px;
}

.ariete {
  padding: 20px 20px;
  position: relative;
}

.segnouno {
  display: block;
}

.overlayuno {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.ariete:hover .overlayuno {
  opacity: 0.8;
}

.textuno {
  color: #ff6633;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.toro {
  padding: 20px 20px;
  position: relative;
}

.segno2 {
  display: block;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.toro:hover .overlay2 {
  opacity: 0.8;
}

.text2 {
  color: #ffcc66;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.gemelli {
  padding: 20px 20px;
  position: relative;
}

.segno3 {
  display: block;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.gemelli:hover .overlay3 {
  opacity: 0.8;
}

.text3 {
  color: #cc99cc;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cancro {
  padding: 20px 20px;
  position: relative;
}

.segno4 {
  display: block;
}

.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.cancro:hover .overlay4 {
  opacity: 0.8;
}

.text4 {
  color: #6633ff;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.leone {
  padding: 20px 20px;
  position: relative;
}

.segno5 {
  display: block;
}

.overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.leone:hover .overlay5 {
  opacity: 0.8;
}

.text5 {
  color: #ff6633;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.vergine {
  padding: 20px 20px;
  position: relative;
}

.segno6 {
  display: block;
}

.overlay6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.vergine:hover .overlay6 {
  opacity: 0.8;
}

.text6 {
  color: #ffcc66;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bilancia {
  padding: 20px 20px;
  position: relative;
}

.segno7 {
  display: block;
}

.overlay7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.bilancia:hover .overlay7 {
  opacity: 0.8;
}

.text7 {
  color: #cc99cc;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.scorpione {
  padding: 20px 20px;
  position: relative;
}

.segno8 {
  display: block;
}

.overlay8 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.scorpione:hover .overlay8 {
  opacity: 0.8;
}

.text8 {
  color: #6633ff;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sagittario {
  padding: 20px 20px;
  position: relative;
}

.segno9 {
  display: block;
}

.overlay9 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.sagittario:hover .overlay9 {
  opacity: 0.8;
}

.text9 {
  color: #ff6633;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.capricorno {
  padding: 20px 20px;
  position: relative;
}

.segno10 {
  display: block;
}

.overlay10 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.capricorno:hover .overlay10 {
  opacity: 0.8;
}

.text10 {
  color: #ffcc66;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.aquario {
  padding: 20px 20px;
  position: relative;
}

.segno11 {
  display: block;
}

.overlay11 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.aquario:hover .overlay11 {
  opacity: 0.8;
}

.text11 {
  color: #cc99cc;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pesci {
  padding: 20px 20px;
  position: relative;
}

.segno12 {
  display: block;
}

.overlay12 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  margin: 20px 20px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100%;
}

.pesci:hover .overlay12 {
  opacity: 0.8;
}

.text12 {
  color: #6633ff;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 400px) {

.titolo h1 {
  font-size: 25pt;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

p {
  display: block;
}

  .container {
    justify-content: center;
    padding: 0px 0px;
  }

   .segnouno  {
    width: 120px;
    height: 120px;
  }

  .segno2  {
   width: 120px;
   height: 120px;
 }

 .segno3  {
  width: 120px;
  height: 120px;
}

.segno4  {
 width: 120px;
 height: 120px;
}

.segno5  {
 width: 120px;
 height: 120px;
}

.segno6  {
 width: 120px;
 height: 120px;
}

.segno7  {
 width: 120px;
 height: 120px;
}

.segno8  {
 width: 120px;
 height: 120px;
}

.segno9  {
 width: 120px;
 height: 120px;
}

.segno10  {
 width: 120px;
 height: 120px;
}

.segno11  {
 width: 120px;
 height: 120px;
}

.segno12  {
 width: 120px;
 height: 120px;
}

.overlayuno {
  display: none;
}.overlay2 {
  display: none;
}.overlay3 {
  display: none;
}.overlay4 {
  display: none;
}.overlay5 {
  display: none;
}.overlay6 {
  display: none;
}.overlay7 {
  display: none;
}.overlay8 {
  display: none;
}.overlay9 {
  display: none;
}.overlay10 {
  display: none;
}.overlay11 {
  display: none;
}.overlay12 {
  display: none;
}

div .menu {
  display: none;
}

.iconamenu {
  display: block;
  align-items: center;
  justify-content: flex-end;
  margin: 5px;
  border-radius: 10px;
}

.bottonemenu {
  background: none;
  border: none;
  margin-top: 4px;
}

.barra-menu{
  justify-content: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

div .menu {
position: absolute;
margin: 50px 5px;
padding: 15px 15px;
background-color: #6633ff;
border-radius: 10px;
}

.menu ul li {
  display: list-item;
  padding: 5px 10px;
}

.menu ul li a {
 font-size: 12pt;
}

.contenutimenuoroscopo {
  top: 85px;
  margin-left: 125px;
  border-radius: 10px;

}

.contenutimenuoroscopo li {
border-radius: 10px;
}

.contenutimenuoroscopo .mese {
  font-size: 12pt;
  padding: 8px 10px 8px 10px;
}

.contenutimenuoroscopo .anno {
  font-size: 12pt;
  padding: 8px 10px 8px 10px;
}

}
