* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('sfondobianco.png');
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
      background-size: cover;
       background-size:100% 100%;
       background-attachment: fixed;
}

.barra-menu {
  display: block;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:space-between;
  align-content: center;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 10;
  border: none;
  width: 98%;
}

.menu {
  display: block;
}

.logo {
align-self: flex-start;
}

.menu ul {
  list-style-type: none;
 margin-top: 15px;
}

.menu ul li {
  display: inline-block;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 9pt;
  padding: 5px;
}

.contenutimenuoroscopo {
  border-radius: 10px;
  margin-top: 5px;
}

.home {
  padding: 5px;
}

.segno {
  padding: 5px;
}

.linkoroscopo {
  padding: 5px;
}

.chisiamo {
  padding: 5px;
}

.menu ul li a, .linkoroscopo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.home:hover {
  background-color: #6633ff;
}

.linkoroscopo:hover {
    background-color: #cc99cc;
}

.segno:hover {
  background-color: #ff6633;
}

.chisiamo:hover {
  background-color: #ffcc66;
}

li a:hover, .linkoroscopo:hover {
  border-radius: 10px;
}

li.menuoroscopo {
  display: inline-block;
}

.contenutimenuoroscopo {
  display: none;
  position: absolute;
  background-color: #cc99cc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenutimenuoroscopo a {
  color: #6633ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.contenutimenuoroscopo a:hover {
  background-color: #f1f1f1;
color: #cc99cc;
font-weight: bold;
}

.menuoroscopo:hover .contenutimenuoroscopo {
  display: block;
}

.iconamenu {
  display: none;
}

.titolosegno {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-top: 50px;
}

.dati {
  color: white;
  padding-left: 40px;
}

h2 {
  font-size: 50pt;
  color: white;
}

.mood {
  color: white;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}


h3 {
  font-size: 12pt;
}

.container {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  padding : 30px;
}

.container .card {
  position: relative;
  background-color : #6633ff;
  margin-top: 80px;
  width: 460px;
  height: 260px;
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 5px 5px 12px 12px;
  align-items: center;
}

.container .card:hover {
  height : 360px;
}


.container .card .image {
  position : relative;
  width : 400px;
  align-content: center;
  top : -40%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
  border-radius: 15px;

}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
  border: 8px solid #ffffff;}

.container .card .content {
  position : relative;
  top : -150px;
  padding : 10px 15px;
  color : white;
  text-align : left;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  margin: 0px 32px;

}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
}


footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

@media only screen and (max-width: 400px) {

  body {
    background-image: url('sfondobiancoverticale.png');
  }

div .menu {
  display: none;
}

.iconamenu {
  display: block;
  align-items: center;
  justify-content: flex-end;
  margin: 5px;
  border-radius: 10px;
}

.bottonemenu {
  background: none;
  border: none;
  margin-top: 4px;
}

.barra-menu{
  justify-content: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

div .menu {
position: absolute;
margin: 50px 5px;
padding: 15px 15px;
background-color: #6633ff;
border-radius: 10px;
}

.menu ul li {
  display: list-item;
  padding: 5px 10px;
}

.menu ul li a {
 font-size: 12pt;
}

.contenutimenuoroscopo {
  top: 85px;
  margin-left: 125px;
  border-radius: 10px;

}

.contenutimenuoroscopo li {
border-radius: 10px;
}

.contenutimenuoroscopo .mese {
  font-size: 12pt;
  padding: 8px 10px 8px 10px;
}

.contenutimenuoroscopo .anno {
  font-size: 12pt;
  padding: 8px 10px 8px 10px;
}

.titolosegno {
  padding: 30px 30px 0px 30px;
}

.dati {
  padding: 0px 0px 0px 20px;
}

  .icona img {
    width: 100px;
    height: 100px;
  }

.dati h2 {
  font-size: 26pt;
}

.dati h1 {
  font-size: 14pt;
}

.container .card {
  margin-top: 80px;
  width: 300px;
  height: 200px;
}

.container .card .image {
  width : 250px;
}
